:root{
    --height: 93vh;
    --task_box_radius: 20%;
    --task_box_width: 45vw;
}

#bar, #header{
    width: 100vw;
    background-color: rgb(143, 133, 133);
    height: calc(100vh - var(--height));
}

#buttons, #header-items{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 1vh;
}

#buttons img{
    height: 50px;
}


body{
    margin:0;
}

#main-content{
    background-color: rgb(121, 118, 118);
    height: var(--height);
}

#top-half{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 23vw;
    margin-top: 4.5vh;
    margin-bottom: 2vh;;
}

#bottom-half{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 23vw;
}

#all-tasks, #completed-tasks{
    border: 1px solid blue;
    width: var(--task_box_width);
    border-radius: var(--task_box_radius);
}    

#inprogress-tasks, #incomplete-tasks{
    border: 1px solid yellow;
    width: var(--task_box_width);
    border-radius: var(--task_box_radius);
}   



