<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/index.css">
        <link rel="icon" href="../assets/images/logo_32.png">
        <title>Login - CMS</title>
    </head>

    <body>
        <form id="login" name="login" action="" method="POST">
            <div id="form-content">
                <div id="logo">
                    <img src="../assets/images/logo_256.png" height="80px">
                </div>
                <div id="inputs">
                    <div id="email-input"> 
                        <input type="text" id="email" class="login-input" name="email" placeholder="Email" required inputmode="email" autocomplete="off" pattern="[a-zA-Z]{3}"> 
                    </div>
                    <div id="pwd-input">
                        <input type="password" id="pwd" class="login-input" name="pwd" pattern="\w+\d+{4,8}" placeholder="Password" required autocomplete="off">
                        <!-- Make tick boxes that show when a condition is met-->
                    </div>
                </div>

                <a href="dashboard.html"><div id="submit-button"> <input type="button" id="login-submit" name="login-submit" value="Sign In"> </div></a>
                <!--Make type submit-->
                <div id="register-link"> <a href="register.html">Don't have an account? Create one!</a> </div>
            </div>
        </form>
    </body>
`

</html>